$font-family-sans-serif: "Open Sans";
$font-family-monospace: "Roboto Mono";
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1.2rem !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * .875 !default;

$border-width: 1px !default;

$border-radius: 0 !default;
$border-radius-lg: 0 !default;
$border-radius-sm: 0 !default;

$white: #f9fafe;
$off-white: #f3f4f9;
$dark-blue: #020126;
$navy: #031b4d;
$purple: #c637ff;
$yellow: #F2E422;
$orange: #F28A2E;
$red: #a38380;
      
$info: $purple;        
$warning: $orange;
$danger: $red;      
$dark: $navy;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';